.container {
  font-size: 12px;
  color: var(--gray);

  &--full {
    @include media-laptop {
      margin-bottom: 100px;
    }

    @include media-tablet {
      margin-bottom: 70px;
    }
  }
}