.container {
  margin-bottom: 150px;

  @include media-tablet {
    margin-bottom: 100px;
  }
}

.card {
  padding: 67px 20px 24px;
  overflow: visible;
  position: relative;

  @include media-laptop {
    padding-top: 75px;
  }

  @include media-tablet {
    padding-top: 50px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.text {
  height: 210px;
  margin-bottom: 24px;
  padding-right: 8px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  will-change: height;
  user-select: none;
  scroll-snap-type: y mandatory;
  width: 100%;

  @include media-tablet {
    pointer-events: all;
    margin-bottom: 40px;
    height: calc(205px + 1px);
  }

  &:before {
    content: '';
    position: absolute;
    left: 20px;
    top: -20px;
    width: 80px;
    height: 63px;
    background-size: 100%;

    @include media-tablet {
      width: 70px;
      height: 55px;
    }
  }

  &.gray {
    &:before {
      background-image: url("assets/quote--gray.svg");
    }
  }

  &.blue {
    &:before {
      background-image: url("assets/quote--blue.svg");
    }
  }

  &.darkBlue {
    &:before {
      background-image: url("assets/quote--dark-blue.svg");
    }
  }

  &::-webkit-scrollbar {
    width: 1px;
    height: 1px;
  }
}

.signature {
  font-weight: 500;
  margin-bottom: 8px;
}

.rating {
  @include flex-align(center);
  gap: 8px;
  list-style-type: none;

  img {
    width: 24px;
    height: 24px;
  }
}