.container {
  @include flex-align(center);
  gap: 45px;
  margin-bottom: 150px;

  @include media-laptop {
    gap: 24px;
  }
}

.poster {
  max-width: 700px;
  width: 100%;
  border-top-left-radius: 60px;
  border-bottom-right-radius: 60px;
  overflow: hidden;

  @include media-laptop {
    max-width: 506px;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.info {
  max-width: 675px;
  width: 100%;
}

.list {
  margin-top: 42px;

  @include media-laptop {
    margin-top: 24px;
  }

  & li {
    @include flex-align(center);
    gap: 24px;

    @include media-laptop {
      gap: 16px;
    }

    &:not(:last-of-type) {
      margin-bottom: 42px;

      @include media-laptop {
        margin-bottom: 24px;
      }
    }
  }
}