.container {
  margin-top: 48px;
  padding: 34px 10px;
  border-radius: 0 25px 25px 25px;
  background: var(--white);
  box-shadow: 0 4px 12px 0 rgba(175, 175, 175, 0.25);
}

.tabs {
  @include flex-justify-align(center, center);
}

.tab {
  font-size: 20px;
  font-weight: 500;
  color: var(--gray);
  padding: 12px;

  background-color: transparent;
  border: none;

  &.active {
    color: var(--primary);
  }
}

.form {
  @include flex-justify-align(center, flex-end);
  gap: 46px;
}