.container {
  border-radius: 60px;
  height: 328px;
  padding: 65px 120px;
  margin-bottom: -130px;
  position: relative;
  z-index: 1;
  background: var(--secondary-blue) url('assets/background-logo.svg') -140px bottom/contain no-repeat;

  h1 {
    max-width: 495px;
    width: 100%;
    font-size: 50px;
    color: var(--white);
  }
}

.background {
  position: absolute;
  right: 0;
  top: -114px;
  max-width: 810px;
  width: 100%;
  height: auto;
  pointer-events: none;
  z-index: -1;
}