.clean, .price {
  background-color: transparent;
  border: none;
  margin-top: 10px;
}

.clean {
  @include flex-align(center);
  gap: 4px;
  font-size: 12px;
  font-weight: 500;
  margin-left: auto;
  margin-right: 24px;
  transition: all .4s ease-in-out;

  &:hover {
    color: var(--primary);
    transition: all .4s ease-in-out;

    path {
      stroke: var(--primary);
      transition: all .4s ease-in-out;
    }
  }
}