.container {
  display: flex;
  margin-left: 67px;
  gap: 30px;

  &.active {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: lightslategray;
    left: -67px;
    top: 57px;
  }
}

