.container {
  margin-bottom: 150px;
}

.item {
  @include flex-align(center);
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  height: 100%;
  overflow: visible;

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}