.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 200px;
  margin-bottom: 200px;

  p {
    max-width: 623px;
    width: 100%;
    text-align: center;
    color: var(--dark);
  }
}

.code {
  @include flex-align(center);
  gap: 24px;
  margin-bottom: 36px;

  & span {
    color: var(--blue);
    font-size: 150px;
    line-height: 1;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-variant: lining-nums;
  }
}

.nav {
  @include flex-align(center);
  gap: 24px;
  margin-top: 24px;
}