.container {
  margin-top: 75px;
  margin-bottom: 150px;
}

.inner {
  padding-top: 56px;
  padding-bottom: 56px;
  position: relative;
  z-index: 2;
  max-width: 50%;

  &.reverse {
    margin-left: 480px;
  }
}

.description {
  margin-bottom: 25px;
  max-width: 675px;
  width: 100%;
}


.poster {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: block;
  width: auto;
  height: 110%;

  &.reverse {
    left: 0;
  }
}