.container {
  margin-bottom: 150px;
}

.item {
  @include flex-align(flex-start);
  gap: 12px;
  padding: 20px;

  img {
    pointer-events: none;
    border-radius: 12px;
  }

  &Text {
    margin-bottom: 5px;
    margin-top: 5px;
    min-height: 58px;
    font-weight: 500;
  }

  &Counter {
    font-size: 12px;
    font-weight: 500;
    color: var(--gray);
  }
}

.heading {
  @include flex-justify-align(space-between, center);

  &Button {
    @include flex-align(center);
    gap: 3px;
    font-size: 14px;
    font-weight: 500;
    color: var(--gray);
    transition: color .3s ease-in-out;

    &:hover {
      color: var(--primary);
      transition: color .3s ease-in-out;
    }
  }
}
