.container {
  margin-bottom: 150px;
}

.item {
  @include flex-align(flex-start);
  gap: 12px;
  padding: 20px;

  img {
    pointer-events: none;
    border-radius: 12px;
  }

  &-text {
    margin-bottom: 5px;
    margin-top: 5px;
    min-height: 58px;
    font-weight: 500;
  }

  &-counter {
    font-size: 12px;
    font-weight: 500;
    color: var(--gray);
  }
}