.container {
  display: grid;
  grid-template-columns: minmax(500px, 1fr) minmax(300px, 460px);
  gap: 20px;
}

.feedback {
  position: sticky;
  top: 90px;
  padding: 40px 20px;
  border-radius: 18px;
  box-shadow: 0 14px 32px 0 rgba(214, 214, 214, 0.36);
  border: 1px solid var(--nude);
  background: url("../../assets/CatalogPage/subtract-line.svg") no-repeat center bottom;
  background-size: 100%;

  & h5 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
  }

  & p {
    margin-bottom: 24px;
  }
}