.container {
  margin-top: 150px;
  margin-bottom: 150px;
}

.inner {
  padding: 64px 20px 64px 375px;
  background: url('./assets/transparent-logo.svg') left bottom/contain no-repeat;

  @include media-tablet {
    padding: 52px 20px 52px 300px;
  }
}

.desc {
  max-width: 695px;
  width: 100%;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    z-index: 1;
    left: -20px;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: var(--primary);
    border-radius: 10px;

    @include media-tablet {
      left: -16px;
    }
  }
}
